absl-py==2.1.0
acora==2.4
aeon==0.11.0
affine==2.4.0
aiobotocore==2.13.0
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.16
alembic==1.13.2
amqp==5.2.0
anndata==0.10.9
annotated-types==0.6.0
ansible==9.5.1
ansible-core==2.16.6
antropy==0.1.6
anyio==4.3.0
anytree==2.12.1
apipkg==3.0.2
appdirs==1.4.4
archspec==0.2.4
argcomplete==3.3.0
argh==0.31.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
argparse-dataclass==2.0.0
argparse-manpage-birdtools==1.7.0
array_api_compat==1.8
arrow==1.3.0
arviz==0.18.0
asciitree==0.3.3
astral==3.2
astroid==3.1.0
astropy==6.0.1
astropy-iers-data==0.2024.4.29.0.28.48
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
asyncio-atexit==1.0.1
atom==0.10.4
attrs==23.2.0
Authlib==1.3.0
Automat==22.10.0
awscli==1.32.93
Babel==2.14.0
backoff==2.2.1
backports.lzma==0.0.14
backports.ssl_match_hostname==3.7.0.1
basemap==1.4.1
basemap-data==1.3.2
bayesian-optimization==1.4.3
bcrypt==4.1.2
beautifulsoup4==4.12.3
beniget==0.4.1
bidict==0.23.1
bigslice==2.0
billiard==4.2.0
binaryornot==0.4.4
biolib==0.1.9
biom-format==2.1.15
biopython==1.83
bird-tool-utils==0.4.1
bitarray==2.9.2
bleach==6.1.0
blinker==1.8.1
blue-crab==0.1.2
bokeh==3.4.1
boto==2.49.0
botocore==1.34.93
bounded-pool-executor==0.0.3
bpytop==1.0.68
branca==0.7.2
brewer2mpl==1.4.1
bytecode==0.15.1
bz2file==0.98
CacheControl==0.14.0
cached-property==1.5.2
cachetools==5.3.3
cairocffi==1.7.0
Cartopy==0.23.0
casa-formats-io==0.3.0
casadi==3.6.5
category-encoders==2.6.3
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
cftime==1.6.3
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
clikit==0.6.2
cloudpickle==3.0.0
colorama==0.4.6
colorcet==3.1.0
colorlog==6.8.2
colormath==3.0.0
comm==0.2.2
conda-inject==1.3.1
ConfigArgParse==1.7
configobj==5.0.8
connection_pool==0.0.3
cons==0.4.6
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.2.1
cookiecutter==2.6.0
cov-core==1.15.0
coverage==7.5.0
crashtest==0.3.1
cryptography==42.0.5
cssselect==1.2.0
cycler==0.12.1
Cython==3.0.10
dask==2024.4.2
dask-expr==1.0.14
datashader==0.16.1
dateutils==0.6.12
datrie==0.8.2
deap==1.4.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Dejavu==1.5.0
DendroPy==4.6.1
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
dlx==1.0.4
dm-env==1.6
dm-tree==0.1.8
dm_control==1.0.19
dnspython==2.6.1
docopt==0.6.2
docplex==2.27.239
docutils==0.18.1
donfig==0.8.1.post0
dparse==0.6.4b0
dpath==2.1.6
drmaa==0.7.9
dulwich==0.22.1
durbango==0.23
earthaccess==0.9.0
ecdsa==0.19.0
echo==0.8.0
ecopy==0.1.2.2
enaml==0.17.0
entrypoints==0.4
et-xmlfile==1.1.0
etils==1.8.0
etuples==0.3.9
execnet==2.1.1
executing==2.0.1
extern==0.4.1
ez_setup==0.9
fast-histogram==0.14
fast_sparCC==0.2.0
fastalite==0.4.1
fastcluster==1.2.6
fastdist==1.1.6
fastdtw==0.3.4
fasteners==0.19
fastjsonschema==2.19.1
fastprogress==1.0.3
fdb==2.0.2
feather-format==0.4.1
ffmpeg-normalize==1.27.7
ffmpeg-progress-yield==0.7.8
filelock==3.13.4
fiona==1.9.6
Flask==3.0.3
Flask-SocketAPI==0.2
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.51.0
fqdn==1.5.1
freetype-py==2.4.0
frozendict==2.4.2
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
gast==0.5.4
GDAL==3.7.2
genieclust==1.1.6
gensim==4.3.2
geographiclib==2.0
geopandas==0.14.4
geopy==2.4.1
gffutils==0.13
ggplot==0.11.5
gitdb==4.0.11
GitPython==3.1.43
gizeh==0.1.11
glfw==2.7.0
glue-core==1.21.0
glue-qt==0.3.1
glue-vispy-viewers==1.1.0
glueviz==1.2.0
goatools==1.4.4
google-pasta==0.2.0
googleapis-common-protos==1.65.0
gpxpy==1.6.2
graftm==0.14.0
greenlet==3.0.3
grouplabelencode==0.2.0
grpcio==1.62.2
gzip-reader==0.1
h11==0.14.0
h5netcdf==1.3.0
h5py==3.11.0
hdmedians==0.14.2
helperlibs==0.2.1
holoviews==1.18.3
hsluv==5.0.4
html5lib==1.1
HTSeq==2.0.5
httpcore==1.0.5
httplib2==0.22.0
httpstan==4.12.0
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
husl==4.0.3
hvplot==0.10.0
hyperlink==21.0.0
hyperopt==0.2.7
hypothesis==6.100.2
icalendar==5.0.12
icepyx==1.0.0
idna==3.7
igraph==0.11.4
imageio==2.34.1
imagesize==1.4.1
imbalanced-learn==0.12.3
imblearn==0.0
immutables==0.20
importlib==1.0.4
importlib_metadata==7.1.0
importlib_resources==6.4.0
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
interval==1.0.0
ipykernel==6.29.4
ipyleaflet==0.19.0
ipyparallel==8.8.0
ipython==8.24.0
ipywidgets==8.1.2
iris==1.0.7
iso8601==2.1.0
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
itables==2.1.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.0
johnnydep==1.20.5
json5==0.9.25
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-leaflet==0.19.0
jupyter-lsp==2.2.5
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.6.1
jupyter_contrib_core==0.4.2
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
kaleido==0.2.1
keras==3.3.3
keyring==25.2.0
kiwisolver==1.4.5
kombu==5.3.7
labmaze==1.0.6
lazy_loader==0.4
Levenshtein==0.25.1
lib_pod5==0.3.15
libclang==18.1.1
libmagic==1.0
linkify-it-py==2.0.3
llvmlite==0.42.0
locket==1.0.0
logical-unification==0.4.6
lxml==5.2.1
Mako==1.3.3
mappy==2.28
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
matplotlib-venn==0.11.10
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
meson==1.4.0
miniKanren==1.0.3
mistune==3.0.2
mizani==0.11.4
ml-dtypes==0.3.2
mock==5.1.0
more-itertools==10.2.0
mpi4py==3.1.6
mpl-scatter-density==0.7
mpld3==0.5.10
mpmath==1.3.0
msgpack==1.0.8
mujoco==3.1.5
multidict==6.0.5
multimethod==1.11.2
multipledispatch==1.0.0
multitasking==0.0.11
myst-parser==3.0.1
namex==0.0.8
NanoFilt==2.8.0
nanoget==1.19.3
NanoLyse==1.2.1
NanoPlot==1.43.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nc-time-axis==1.4.1
nest-asyncio==1.6.0
netCDF4==1.6.5
networkx==3.3
nh3==0.2.17
nolds==0.6.0
nose==1.3.7
nose-cov==1.6
nose-exclude==0.5.0
nose-parameterized==0.6.0
nose_xunitmp==0.4.1
nosexcover==1.0.11
notebook==7.1.3
notebook_shim==0.2.4
numba==0.59.1
numbagg==0.8.1
numcodecs==0.12.1
numexpr==2.10.0
obonet==1.0.0
onehot==0.1.4
openpyxl==3.1.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opt-einsum==3.3.0
optree==0.11.0
optuna==3.6.1
overrides==7.7.0
oyaml==1.0
packaging==24.0
pandas==2.2.2
pandocfilters==1.5.1
panel==1.4.2
param==2.1.0
paramiko==3.4.0
parasail==1.3.4
parse==1.20.1
parso==0.8.4
partd==1.4.1
pastel==0.2.1
patsy==0.5.6
Paver==1.3.4
pbr==6.0.0
peewee==3.17.3
pegen==0.3.0
pexpect==4.9.0
pillow==10.3.0
pkginfo==1.10.0
plac==1.4.3
platformdirs==4.2.1
plotly==5.22.0
plotnine==0.13.6
pluggy==1.5.0
ply==3.11
pod5==0.3.15
polars==0.20.30
pooch==1.8.1
pqdm==0.2.0
prettyprint==0.1.5
prettytable==3.10.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
properties==0.6.1
proteingraph==0.3.0
protobuf==4.25.3
psutil==5.9.8
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2-binary==2.9.9
ptyprocess==0.7.0
PuLP==2.8.0
pure-eval==0.2.2
pvextractor==0.4
py-spy==0.3.14
py4j==0.10.9.7
pyarrow==16.1.0
pyasn1==0.6.0
pybedtools==0.10.0
pybind11==2.12.0
pycairo==1.26.0
pycosat==0.6.6
pycparser==2.22
pyct==0.5.0
pydantic==2.7.1
pydantic_core==2.18.2
pydot==2.0.0
pyenchant==3.2.2
pyerfa==2.0.1.4
pyfaidx==0.8.1.1
PyGithub==2.3.0
Pygments==2.17.2
pyhmmer==0.10.12
PyJWT==2.8.0
pykdtree==1.3.12
pylcs==0.1.1
pylev==1.4.0
pylint==3.1.0
pymc==5.13.1
pymer4==0.8.2
pymongo==4.7.0
PyNaCl==1.5.0
pynndescent==0.5.12
pyopencl==2024.1
PyOpenGL==3.1.7
pyparsing==3.1.2
pyproj==3.6.1
PyQt6==6.7.0
PyQt6-Qt6==6.7.0
PyQt6-sip==13.6.0
pyresample==1.28.3
pyrodigal==3.5.1
pysam==0.22.1
pyshp==2.3.1
pysimdjson==6.0.2
pyslow5==1.2.0
pyspnego==0.10.2
pyspoa==0.2.1
pystan==3.9.1
pytensor==2.20.0
pytest==8.2.0
pytest-timeout==2.3.1
pytest-xdist==3.6.1
python-cmr==0.11.0
python-constraint==1.4.0
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-igraph==0.11.4
python-json-logger==2.0.7
python-slugify==8.0.4
python-socketio==5.11.2
pythran==0.14.0
pytools==2024.1.2
pyts==0.13.0
pytz==2024.1
pyviz_comms==3.0.2
PyWavelets==1.7.0
PyYAML==6.0.1
pyzmq==26.0.2
qcat==1.1.0
qtconsole==5.5.1
QtPy==2.4.1
Quandl==3.7.0
radio-beam==0.3.7
rapidfuzz==3.9.6
rasterio==1.3.10
rdflib==7.0.0
readme_renderer==43.0
referencing==0.35.0
regex==2024.4.28
reportlab==4.2.0
requests==2.31.0
requests-ntlm==1.2.0
requests-toolbelt==1.0.0
reretry==0.11.8
resolvelib==1.0.1
retworkx==0.14.2
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.1
rioxarray==0.15.5
rpds-py==0.18.0
rpy2==3.5.16
rsa==4.7.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.5.7
rustworkx==0.14.2
s3fs==2024.5.0
s3transfer==0.10.1
safetensors==0.4.3
safety==3.1.0
safety-schemas==0.0.2
scikit-bio==0.6.0
scikit-fuzzy==0.4.2
scikit-image==0.23.2
scikit-learn==1.4.2
scikit-learn-extra==0.3.0
SCNIC==0.6.3
seaborn==0.13.2
SecretStorage==3.3.3
Send2Trash==1.8.3
setuptools==69.5.1
shap==0.45.0
shapely==2.0.4
shellingham==1.5.4
simple-websocket==1.0.0
SimpleITK==2.3.1
simplejson==3.19.2
sip==6.8.3
siphon==0.9
six==1.16.0
sklearn2pmml==0.107.0
slicer==0.0.7
slint==1.6.0a8
smart-open==7.0.4
smmap==5.0.1
snakemake==8.11.6
snakemake-interface-common==1.17.2
snakemake-interface-executor-plugins==9.1.1
snakemake-interface-report-plugins==1.0.0
snakemake-interface-storage-plugins==3.2.2
sniffio==1.3.1
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
SPARQLWrapper==2.0.0
sparse==0.15.1
spectra==0.0.11
spectral-cube==0.6.5
Sphinx==7.3.7
sphinx-markdown-tables==0.0.17
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sphinxcontrib-spelling==8.0.0
SQLAlchemy==2.0.29
sqlparse==0.5.0
stack-data==0.6.3
statsmodels==0.14.2
stevedore==5.2.0
stochastic==0.6.0
stopit==1.1.2
structlog==24.1.0
stumpy==1.13.0
symengine==0.11.0
sympy==1.12
synapseclient==4.5.0
tabulate==0.9.0
taxtastic==0.10.0
tenacity==8.4.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
texttable==1.7.0
threadpoolctl==3.4.0
throttler==1.2.2
tifffile==2024.4.24
tinycss2==1.3.0
tinynetrc==1.3.1
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.4
toolshed==0.4.6
toolz==0.12.1
toposort==1.10
torch==2.3.0+cpu
torch_geometric==2.5.3
torchaudio==2.3.0+cpu
torchvision==0.18.0+cpu
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
traittypes==0.2.1
transformers==4.40.1
tsfel==0.1.8
tsfresh==0.20.3
tslearn==0.6.3
twine==5.0.0
Twisted==24.3.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
umap==0.1.1
umap-learn==0.5.6
uri-template==1.3.0
urllib3==2.2.1
uv==0.2.35
vbz-h5py-plugin==1.0.1
versioneer==0.29
vine==5.1.0
virtualenv==20.26.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
vispy==0.14.2
wcwidth==0.2.13
webargs==8.4.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.2
wheel==0.43.0
widgetsnbextension==4.0.10
wimpy==0.6
windrose==1.9.0
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
xarray==2024.3.0
xarray-einstats==0.7.0
xgboost==2.0.3
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.13.0
xyzservices==2024.4.0
yarl==1.9.4
yfinance==0.2.38
yolk==0.4.3
yte==1.5.4
zarr==2.17.2
zipp==3.18.1
zope.interface==6.3
